{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedPredict Suite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id="nav">
        <img src="{% static 'predict.png' %}"  alt="">
        <h1>MedPredict Suite </h1>
        <a href="{% url 'heart' %}" id="heart1"><h4>Heart Disease Prediction</h4></a>
        <a href="{% url 'diabetes' %}" id="diabetes1"><h4>Diabetes Prediction</h4></a>
        <a href="{% url 'liver' %}" id="liver1"><h4>Liver Disease Prediction</h4></a>    
    </div>
    <img src="{%static 'main img.jpeg' %}" id="mainimg" alt="">
    <div id="main">
        <div id="page1">
            <h1>Welcome to MedPredict Suite</h1>
            <p>MedPredict Suite is an advanced system designed to predict multiple diseases using cutting-edge AI and machine learning. Our platform provides accurate, personalized health insights, helping you manage chronic conditions and detect potential health issues early. Empower your healthcare journey with MedPredict Suite</p>
        </div>
        <div id="page2">
          <div id="about-us">
            <img src="{%static 'about image1.jpeg' %}" alt="">
            <div id="about-us-in">
                <h3>About MedPredict Suite</h3>
                <p id="para"> MedPredict Suite is an innovative system designed to revolutionize healthcare by predicting multiple diseases using advanced AI and machine learning technologies. Our platform empowers users to proactively manage their health by providing personalized disease predictions based on individual health data and symptoms.</p>  
            </div>
            <img src="{%static 'ai-in-health.jpg' %}" alt="">
          </div>
          <div id="cards-container">
            <div class="card" id="card1">
                <div class="overlay">
                    <h4>HEART DISEASE</h4>
                    <p>Heart disease refers to various conditions affecting the heart, including coronary artery disease, arrhythmias, and heart failure. It's a leading cause of death worldwide, often resulting from high blood pressure, high cholesterol, smoking, obesity, and diabetes. Symptoms include chest pain, shortness of breath, and fatigue. Prevention involves a healthy diet, regular exercise, avoiding smoking, and managing stress. Treatments can include medications, lifestyle changes, and surgeries. Early detection and management are key to improving outcomes.</p>  
                </div>
            </div>
            <div class="card" id="card2">
                <div class="overlay">
                    <h4>DIABETES</h4>
                    <p>Diabetes is a chronic condition affecting how the body processes glucose (sugar). Type 1 diabetes results from the immune system attacking insulin-producing cells, requiring insulin therapy. Type 2 diabetes involves insulin resistance, often linked to lifestyle factors like obesity and lack of exercise. Both types lead to high blood sugar levels, causing symptoms like excessive thirst, frequent urination, fatigue, and blurred vision. Management involves blood sugar monitoring, healthy eating, physical activity, and sometimes medication to prevent complications such as heart disease and nerve damage.
                    </p>  
                </div>
            </div>
         <div class="card" id="card3">
            <div class="overlay">
                <h4>LIVER DISEASE</h4>
                <p>Liver cirrhosis is advanced scarring of the liver caused by chronic liver diseases like hepatitis and alcohol abuse. It impairs liver function, leading to symptoms such as fatigue, jaundice, and fluid retention. Complications include bleeding, infections, and liver cancer. Management involves treating underlying causes, lifestyle changes, and sometimes liver transplantation to improve prognosis and quality of life. Early detection and intervention are crucial for managing this progressive condition effectively.
                </p>
            </div>
                 
            </div>
          </div>
          <div id="page3">
            <h4>© 2024 MedPredict Suite. All rights reserved.</h4>
          </div>
        </div>
    </div>
 <script src="{% static 'js/script.js' %}"></script>
</body>
</html>